@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
* {
  padding: 0;
  color: inherit;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  color: #011B1D;
}

*:focus {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
.form {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 5% 10%;
}
.form_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_h2 {
  font-family: "Bebas Neue";
  color: #015F68;
  margin-bottom: 1rem;
  font-size: 30px;
}
.form__label {
  margin: 0.5rem;
  font-size: 18px;
  font-weight: 600;
}
.form__input {
  height: 40px;
  margin-bottom: 1rem;
}
.form .age-group {
  display: flex;
  flex-direction: row;
}

.checkbox-group {
  margin: 0.5rem;
}
.checkbox-group .form__input {
  vertical-align: -webkit-baseline-middle;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
.banner-1 {
  background: linear-gradient(95deg, #FE5DAD, #ffb552);
  margin-top: 58px;
}
.banner_img {
  height: auto;
  width: 35%;
  margin: auto;
}
.banner_container-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.banner__h1 {
  font-family: "CoolFont", sans-serif;
  font-size: 51px;
  color: #7EDEC9;
  text-shadow: -1px 4px 0px white;
}
.banner__p {
  background-color: #EFEFEF;
  font-size: 23px;
  padding: 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  width: 75%;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
.btn {
  padding: 1rem 4.5rem;
  margin: 1rem auto;
  border: none;
  font-family: "Bebas Neue";
  font-size: 23px;
  font-weight: 600;
}
.btn_primary {
  color: #015F68;
  background-color: white;
  border: 2px solid #015F68;
}
.btn_primary:hover {
  color: white;
  background-color: #015F68;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}
.btn_secondary {
  color: white;
  background-color: #015F68;
  border: 2px solid #015F68;
}
.btn_secondary:hover {
  color: #015F68;
  background-color: white;
  border: 2px solid #015F68;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.cards_group {
  display: flex;
  justify-content: space-around;
  margin: 1rem 20%;
}

.img-container {
  height: 200px;
  width: 200px;
}

.card {
  background-color: white;
  border: none;
  padding: 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem;
}
.card-m {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 450px;
}
.card_text {
  height: 40%;
  margin-top: 1rem;
  position: relative;
}
.card_img {
  overflow: hidden;
  margin: auto;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}
.card__h3 {
  font-size: 23px;
  margin-bottom: 0.5rem;
  font-family: "Bebas Neue";
  color: #015F68;
}
.card__p {
  font-size: 18px;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}
.card__a {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
footer {
  width: 100vw;
  margin-top: auto;
  height: 300px;
  background-color: #015F68;
  padding: 3rem 6rem;
}

.footer_content {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
.footer_div {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  margin-right: 1rem;
}
.footer_div-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 3rem;
}
.footer_h3 {
  font-size: 23px;
  margin-bottom: 1rem;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
  transition: margin-right 2s ease-in-out;
  background-image: url("../../Images/pink_underline.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 90% 18%;
  background-position-x: center;
}
.footer__logo {
  content: url(../../Images/Logo.png);
  width: 80%;
  margin: 1rem;
}
.footer_email, .footer_phone {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer__span {
  margin-right: 10px;
}
.footer__span-email {
  content: url(../../Images/emailIcon.svg);
  width: 20px;
  height: auto;
}
.footer__span-phone {
  content: url(../../Images/whatsappon.svg);
  width: 20px;
  height: auto;
}
.footer_social {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.footer__a {
  color: white;
  font-family: "Bebas Neue";
}
.footer__a-ig {
  content: url(../../Images/instgramIcon.svg);
  width: 20px;
  height: auto;
  margin: 1rem;
}
.footer__a-fb {
  content: url(../../Images/fbIcon.svg);
  width: 20px;
  height: auto;
  margin: 1rem;
}
.footer__a-tk {
  content: url(../../Images/tiktokIcon.svg);
  width: 20px;
  height: auto;
  margin: 1rem;
}
.footer__p {
  color: white;
}
.footer_iframe {
  border: 3px solid #FF9505 !important;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  height: 58px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}
.navbar_logo {
  height: 45px;
  content: url(/Images/Logo.png);
}
.navbar_pages {
  font-size: 18px;
}
.navbar_pages a {
  font-weight: 600;
  padding: 0.75rem;
  color: #015F68;
}
.navbar_pages a:nth-child(odd):hover {
  transition: margin-right 2s ease-in-out;
  background-image: url("../../Images/orange_underline.png");
  background-repeat: no-repeat;
  background-size: 90% 18%;
  background-position-y: bottom;
  background-position-x: center;
}
.navbar_pages a:nth-child(even):hover {
  transition: margin-right 2s ease-in-out;
  background-image: url("../../Images/pink_underline.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 90% 18%;
  background-position-x: center;
}
.navbar_icons {
  display: flex;
  flex-direction: row;
}
.navbar__span-cart {
  content: url(../../Images/shopIcon.svg);
  padding: 1rem;
}
.navbar__span-search {
  content: url(../../Images/searchIcon.svg);
  padding: 1rem;
}

.search_input {
  display: flex;
  align-items: center;
}

.searchbar {
  height: 30px;
  width: 200px;
  border: 2px solid #FE5DAD;
}
.searchbar:hover, .searchbar :focus, .searchbar :focus-visible, .searchbar :active {
  border: 2px solid #FFE099;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url();
}
.section-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-cards_h2 {
  margin-left: 6rem;
  margin-top: 3.5rem;
  font-family: "Bebas Neue";
  color: #FE5DAD;
  font-size: 30px;
}

.section-banner {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}/*# sourceMappingURL=main.css.map */