@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
* {
  padding: 0;
  color: inherit;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  color: #011B1D;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
.form {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 5% 10%;
}
.form_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_h2 {
  font-family: "Lilita One", sans-serif;
  color: #015F68;
  margin-bottom: 1rem;
  font-size: 30px;
}
.form__label {
  margin: 0.5rem;
  font-size: 18px;
  font-weight: 600;
}
.form__input {
  height: 40px;
  margin-bottom: 1rem;
}
.form .age-group {
  display: flex;
  flex-direction: row;
}

.checkbox-group {
  margin: 0.5rem;
}
.checkbox-group .form__input {
  vertical-align: -webkit-baseline-middle;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
.section-banner {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-1 {
  background: linear-gradient(95deg, #FE5DAD, #ffb552);
}
.banner_img {
  height: auto;
  width: 35%;
  margin: auto;
}
.banner_container-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.banner__h1 {
  font-family: "CoolFont", sans-serif;
  font-size: 51px;
  color: #7EDEC9;
  text-shadow: -1px 4px 0px white;
}
.banner__p {
  background-color: #EFEFEF;
  font-size: 23px;
  padding: 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  width: 75%;
}

.cards_group {
  display: flex;
  justify-content: space-around;
  margin: 1rem 20%;
}

.img-container {
  height: 200px;
  width: 200px;
}

.card {
  background-color: white;
  border: none;
  padding: 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem;
}
.card-m {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 450px;
}
.card_text {
  height: 40%;
  margin-top: 1rem;
  position: relative;
}
.card_img {
  overflow: hidden;
  margin: auto;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}
.card__h3 {
  font-size: 23px;
  margin-bottom: 0.5rem;
}
.card__p {
  font-size: 18px;
}
.card__a {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

@font-face {
  font-family: "CoolFont";
  src: url(../../Fonts/CoolKids-Bold.otf);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  height: 58px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}
.navbar_h1 {
  height: 45px;
  content: url(/Images/Logo.png);
}
.navbar_pages {
  font-size: 18px;
}
.navbar_pages a {
  font-weight: 600;
  padding: 0.75rem;
  color: #015F68;
}
.navbar_pages a:nth-child(odd):hover {
  transition: margin-right 2s ease-in-out;
  background-image: url("../../Images/orange_underline.png");
  background-repeat: no-repeat;
  background-size: 90% 18%;
  background-position-y: bottom;
  background-position-x: center;
}
.navbar_pages a:nth-child(even):hover {
  transition: margin-right 2s ease-in-out;
  background-image: url("../../Images/pink_underline.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 90% 18%;
  background-position-x: center;
}
.navbar_icons {
  display: flex;
  flex-direction: row;
}
.navbar__span-cart {
  content: url(../../Images/shopIcon.svg);
  padding: 1rem;
}
.navbar__span-search {
  content: url(../../Images/searchIcon.svg);
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}/*# sourceMappingURL=main.css.map */