@use "sass:math";
@use "./index";

.form{
    box-shadow: $base-shadow;
    padding: 5% 10%;
    &_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_h2{
        font-family: $secondary-font;
        color: $secondary-color;
        margin-bottom: $base-margin;
        font-size: $font-size-l;
    }
    &__label{
        margin: math.div($base-margin, 2);
        font-size: $font-size-base;
        font-weight: 600;   
    }
    &__input{
        height: 40px;
        margin-bottom: $base-margin;   
    }
    .age-group{
        display: flex;
        flex-direction: row;
    }
}

.checkbox-group{
    margin: math.div($base-margin, 2);
    .form__input{
        vertical-align: -webkit-baseline-middle;
    }
}
