@use './index';

.banner{
    &-1{
        background: linear-gradient(95deg, $primary-color, $highlight-color-soft);
        margin-top: 58px;
    }

    &_img{
       height: auto;
       width: 35%;
       margin: auto;
    }

    &_container-text{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    &__h1{
        font-family: $cool-font;
        font-size: $font-size-xxl;
        color: $success-color;
        text-shadow: $light-shadow;
    }
    &__p{
        background-color: $light-color;
        font-size: $font-size-m;
        padding: $base-padding;
        box-shadow: $base-shadow;
        width: 75%;
    }

}