@use './index';

.btn{
    border: none;
    font-family: $secondary-font;
    font-weight: 600;
    margin: $base-margin auto;
    &-l{
        padding: $base-padding 4.5rem;
        font-size: $font-size-m;
    }
    &-m{
        padding: $base-padding 3rem;
        font-size: $font-size-m;
    }
    &-s{
        padding: $base-padding 2rem;
        font-size: $font-size-base;
    }
    &_primary{
        color: $secondary-color;
        background-color: $white;
        border: 2px solid $secondary-color;
        &:hover{
            color: $white;
            background-color: $secondary-color;
            box-shadow: $base-shadow;
        }
        &-inverse{
            color: $white;
            background-color: $secondary-color;
            border: 2px solid $secondary-color;
            &:hover{
            color: $secondary-color;
            background-color: $white;
            border: 2px solid $secondary-color;
            box-shadow: $base-shadow;
            }
        }
    }
    &_secondary{
        color: $primary-color;
        background-color: $white;
        border: 2px solid $primary-color;
        &:hover{
            color: $white;
            background-color: $primary-color;
            box-shadow: $base-shadow;
        }
        &-inverse{
            color: $white;
            background-color: $primary-color;
            border: 2px solid $primary-color;
            &:hover{
            color: $primary-color;
            background-color: $white;
            border: 2px solid $primary-color;
            box-shadow: $base-shadow;
            }
        }
    }
}

