.cards_group{
    display: flex;
    justify-content: space-around;
    margin: $base-margin 20%;
}

.section-cards{
    &_h2{
        margin-left: 3rem;
        margin-top: 1.5rem;
        font-family: $secondary-font;
        color: $primary-color;
    }
}

.img-container{
    height: 200px;
    width: 200px;
}

.card{
    background-color: white;
    border: none;
    padding: $base-padding;
    box-shadow: $base-shadow;
    margin: $base-margin;
    &-m{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 450px;
    }
    &_text{
        height: 40%;
        margin-top:$base-margin;
        position: relative;
    }
    &_img{
        @include symetricImage;
    }
    &__h3{
        font-size: $font-size-m;
        margin-bottom: 0.5rem;
        font-family:$secondary-font;
        color: $secondary-color;
    }
    &__p{
        font-size: $font-size-base;
        font-family: $primary-font;
        font-weight: 300;
    }
    &__a{
        position: absolute;
        bottom: 1px;
        right: 1px;
    }
}
