@use 'index';

footer{
    width: 100vw;
    margin-top: auto;
    height: 300px;
    background-color: $secondary-color;  
    padding: $padding-l $padding-xl;
    @media screen and (max-width: $breakpoint-s) {
        height: 200px;
        padding: $padding-m $padding-l;
    }
    
}
.footer{
    &_content{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    }
    &_div{
        display: flex;
        flex-direction: column;
        width: 30%;
        color:$white;
        margin-right: $base-margin; 
        &-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: $margin-l;
            @media screen and (max-width: $breakpoint-m) {
                display: none;
            }  
        }
        &-social{
            display: flex;
            align-items: center;
        }
    }
    &_h3{
        font-size: $font-size-m;
        margin-bottom: $base-margin;
        color: $white;
        width: fit-content;
        padding-bottom: 0.5rem;
        letter-spacing: 1px;
        @include underline-pink;
        @media screen and (max-width: $breakpoint-s) {
            font-size: $font-size-base;
            font-weight: 600;
        }
    }

    &__logo{
        content: url(../../Images/Logo.png);
        width: 80%;
        margin: $base-margin;
    }
    &_email, &_phone{
        display: inline-flex;
        align-items: center;
        margin-bottom: $base-margin;
    }
    &__span{
        &-email{
            content: url(../../Images/email.png);
            width: 20px;
            height: auto;
            margin-right: 6px;
            @media screen and (max-width: $breakpoint-s) {
                display: none;
            }
        }
        &-phone{
            content: url(../../Images/whappIcon.png);
            width: 20px;
            height: auto;
            margin-right: 6px;
            @media screen and (max-width: $breakpoint-s) {
                display: none;
            }
        }
    }
    &_social{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $breakpoint-l) {
            flex-direction: column;
        }
    }
    &__a{
        color: $white;
        font-family: $secondary-font;
        @media screen and (max-width: $breakpoint-s) {
            display: none;
        }
        &-ig{
            content: url(../../Images/ig.png);
            width: 20px;
            height: auto;
            margin: $base-margin;
        }
        &-fb{
            content: url(../../Images/fb.png);
            width: 20px;
            height: auto;
            margin: $base-margin;
        }
        &-tk{
            content: url(../../Images/tiktok.png);
            width: 20px;
            height: auto;
            margin: $base-margin;
        }
    }
    &__p{
        color:$white
    }
    &_iframe{
        border: 3px solid $highlight-color !important;
        @media screen and (max-width: $breakpoint-l) {
            display: none;
        }
    }
}