input[type='checkbox']{
    vertical-align: -webkit-baseline-middle;
    height: 20px !important;
    width: 20px !important;
}

.checkbox-group{
    .form__label{
        vertical-align: -webkit-baseline-middle;
    }
}

input[type=checkbox]:checked{
    accent-color: $primary-color !important;
}

input{
    border: 2px solid $secondary-color;
}

