@use '../components/index';

.navbar{
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem;
    height: 80px;
    box-shadow: $base-shadow;
    &_h1{
        content: url(/Images/Logo.png);
    }
    &_a{
        font-size: $font-size-l;
    }
}

// .navbar_h1

// .navbar_a-visited {}

// .navbar_a-hover{}