@use '../components/index';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;
    height: 58px;
    box-shadow: $base-shadow;
    position: fixed;
    top: 0;
    background-color: $white;
    width: 100%;
    z-index: 1;
    &_logo{
        height: 45px;
        content: url(/Images/Logo.png);
    }
    &_pages{
        font-size: $font-size-base;
        a{
            font-weight: 600;
            padding: 0.75rem;
            color: $secondary-color;
            &:nth-child(odd):hover{
                @include underline-orange;
            }
            &:nth-child(even):hover{
                @include underline-pink;
            }
        }
        @media screen and (max-width: $breakpoint-s) {
            display: none;
        }
    }
    &_icons{
        display: flex;
        flex-direction: row;
    }
    &__span-cart{
        content: url(../../Images/shopIcon.svg);
        padding: $base-padding;
    }
    &__span-search{
        content: url(../../Images/searchIcon.svg);
        padding: $base-padding;
    }
}

.search_input{
    display: flex;
    align-items: center;
    @media screen and (max-width: $breakpoint-m) {
        display: none;
    }
}

.searchbar{
    height: 30px;
    width: 200px;
    border: 2px solid $primary-color;
    &:hover,:focus,:focus-visible,:active{
        border: 2px solid $tertiary-color;
    }
}