@use '../base/typography' as *;
@import '../utils/variables';

*{
    padding: 0;
    color: inherit;
    margin: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    color: $font-color;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

a{
    text-decoration: none;
}