@use '../base/typography' as *;
@import '../utils/variables';

*{
    padding: 0;
    color: inherit;
    margin: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    color: $font-color;
}
*:focus {
    outline: none;
}

*, *:before, *:after{
    box-sizing: border-box;
}

a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    font-size: $font-size-base;
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}