@use './index';

.about{
    &_container{
    background-image: url(../../Images/waveP.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: $base-shadow;
    padding: 5% 10%;
    margin: $margin-xl;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    &_img{
        height: 338px;
        width: 335px;
    }
    &_card{
        display: flex;
        flex-direction: column;
        background-color: #f7fffdd6;
        justify-content: space-between;
        padding: $padding-l;
        h1, h2, p, a{
            font-family: $secondary-font;
        }
        h1{
            color: $secondary-color;
            margin-bottom: $margin-s;
        }
        h2{
            margin-bottom: $margin-l;
        }
        p{
            margin-bottom: $margin-l;
            line-height: 25px;
        }
    }
    &_div-social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.social{
    &_group{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    margin-top: $base-margin;
    }
    &_linked{
        content: url(../../Images/linked.svg);
        margin-right: $base-margin;
        }
    &_git{
        content: url(../../Images/github.svg);
        margin-right: $base-margin;
        }  
    }