@use 'index';

.section-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_h2{
        width: fit-content;
        margin-left: $margin-xl;
        margin-top: 3.5rem;
        font-family: $secondary-font;
        color: $primary-color;
        font-size: $font-size-l;
        @include underline-secondary;
        padding-bottom: 8px;
        @media screen and (max-width: $breakpoint-s) {
           margin: auto;
           margin-top: 3.5rem;
        }
    }
}

.section-banner{
    height: fit-content;
    width: 100%;
    display: flex;
}


.btn-offers{
    @media screen and (max-width: $breakpoint-m) {
        margin-top: 3rem;
    }
}