@mixin underline-orange(){
    transition: margin-right 2s ease-in-out;;
    background-image:url('../../Images/orange_underline.svg');
    background-repeat: no-repeat;
    background-size: 90% 18%;
    background-position-y:bottom;
    background-position-x:center;
}

@mixin underline-pink(){
    transition: margin-right 2s ease-in-out;;
    background-image:url('../../Images/pink_underline.svg');
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-size: 90% 18%;
    background-position-x:center;
}

@mixin underline-secondary(){
    transition: margin-right 2s ease-in-out;
    background-image:url('../../Images/secondunder.svg');
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-size: 90% 18%;
    background-position-x:center;
}

@mixin symetricImage{
    overflow: hidden;
    margin: auto;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
}
