// Document colors

$primary-color:#FE5DAD;
$primary-color-soft:lighten($primary-color, 15);
$secondary-color:#015F68;
$tertiary-color:#FFE099;
$highlight-color:#FF9505;
$highlight-color-soft:lighten($highlight-color, 15);
$light-color:#EFEFEF;
$font-color:#011B1D;
$alert-color:#FF2943;
$success-color:#7EDEC9;
$white:#f7fffd;
$success-color-light:lighten($success-color, 20);

// Document Shadows
$pink-shadow: -2px 3px $primary-color;
$orange-shadow: -2px 3px $secondary-color;
$base-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
$light-shadow:-1px 4px 0px $white;

// Padding

$padding-xl: 6rem;
$padding-l: 3rem;
$padding-m: 1.5rem;
$base-padding: 1rem;

// Margin

$margin-xl: 6rem;
$margin-l: 3rem;
$margin-m: 1.5rem;
$base-margin: 1rem;
$margin-s: 0.5rem;
$margin-xs: 0.25rem;

//Borders